.contacts
  padding-bottom 130px
  +to-width(640px)
    padding-bottom 80px

  &-wrap
    display flex
    justify-content space-between
    +to-width(900px)
      flex-direction column-reverse

  &-image
    padding-bottom 20px
    img
      max-width 100%

  &-items
    padding-right 20px
    min-width 320px
    +to-width(900px)
      display flex
      justify-content space-between
      flex-wrap wrap
      min-width initial

  &-item
    padding-bottom 35px
    +to-width(640px)
      width 100%
    &__wrap
      display flex
      +to-width(520px)
        display block
      p
        margin-right 110px
        +to-width(640px)
          margin-right 40px
        &:last-child
          margin-right 0
    h3
      font-size 34px
      font-weight 900
      text-transform uppercase
      padding-bottom 20px
      +to-width(520px)
        font-size 28px
        padding-bottom 10px

    p
      font-size 18px
      font-weight 600
      line-height 34px
      +to-width(420px)
        font-size 16px
      a
        font-weight 900
        color black
        t()
        &:hover
          color #eeb621

  &-share
    margin-top 30px
    display flex
    align-items center
    justify-content space-between
    background-color #f1f1f1
    position relative
    padding 0 30px
    height 80px
    &:after
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      width 4px
      background-color #ffc62d
    +to-width(767px)
      flex-direction column
      align-items flex-start
      height initial
      padding 15px 30px
    +to-width(520px)
      margin-top 0

    p
      font-size 21px
      font-weight 900
      padding-bottom 5px
      +to-width(900px)
        font-size 18px
      +to-width(767px)
        padding-bottom 15px
        font-size 21px

    &__social
      display flex
      align-items center
      +to-width(420px)
        flex-wrap wrap
      a
        margin-right 10px
        +to-width(420px)
          margin-bottom 10px
        t()
        &:last-child
          margin-right 0

        &:hover
          opacity 0.7

  &-form
    margin-top 80px
    box-shadow 0 17px 60px rgba(112, 112, 112, 0.16)
    background-color #ffffff
    padding 45px 50px
    +to-width(640px)
      padding 30px 30px
    +to-width(520px)
      margin-top 40px

    &__title
      font-size 37px
      font-weight 900
      padding-bottom 30px
      +to-width(640px)
        font-size 32px
        padding-bottom 10px
      +to-width(420px)
        font-size 26px

    &__input
      margin-top 20px
      width 100%
      label
        font-size 17px
        font-weight 900
        padding-bottom 10px
        display block
      textarea
        width 100%
        height 150px
        background-color #f1f1f1
        border none
        font-size 17px
        line-height 20px
        font-weight 400
        display block
        padding 20px 30px
      input
        width 100%
        height 70px
        background-color #f1f1f1
        padding 0 30px
        border none
        font-size 17px
        font-weight 400
        display block
        +to-width(420px)
          padding-left 15px

    .simple-button
      margin 0
      margin-top 20px
      cursor pointer
