.join
  padding-top 74px
  padding-bottom 90px
  color #ffffff
  background-size cover
  background-position top center
  +to-width(900px)
    padding 60px 0

  &__title
    font-size 50px
    font-weight 900
    text-align center
    padding-bottom 38px
    +to-width(900px)
      font-size 38px
      line-height 40px
      padding-bottom 25px
    +to-width(520px)
      font-size 32px

  &__text
    font-size 26px
    font-weight 400
    line-height 47px
    text-align center
    +to-width(900px)
      font-size 20px
      line-height 32px
    +to-width(520px)
      font-size 16px
      line-height 28px

  .simple-button
    margin-top 65px
    +to-width(900px)
      margin-top 40px
