.shedule
  padding-top 60px
  padding-bottom 45px
  +to-width(767px)
    padding 60px 0

  .wrap
    display flex
    +to-width(767px)
      flex-direction column
      align-items center

  &-content
    width 50%
    display flex
    flex-direction column
    align-items center
    +to-width(767px)
      padding-bottom 30px
      width 100%

  &__title
    color #000000
    padding-bottom 33px
    font-family Centro
    font-weight 700
    font-size 28px

  &-list
    max-height 204px
    overflow hidden
    transition 1s all
    &.open
      max-height 1000px

  &-item
    padding-bottom 26px
    display block
    &__title
      color #5f5b5b
      font-size 16px
      font-weight 400
      line-height 22px
      text-transform uppercase
      letter-spacing -0.15px
      text-align center
      span
        font-weight 700
        margin-right 4px

    &__text
      color #5f5b5b
      font-size 14px
      font-weight 400
      line-height 24px
      letter-spacing -0.13px
      text-align center
      span
        color #9b9b9b
        letter-spacing -0.13px

  &-button
    display flex
    align-items center
    margin 0 auto
    margin-top 5px
    color #e02222
    font-size 18px
    font-weight 400
    line-height 24px
    letter-spacing -0.16px
    width max-content
    cursor pointer
    t()
    img
      margin-left 12px
      t()
    &:hover
      transform translateY(5px)
    &.open
      img
        transform rotate(180deg)

  &-slider
    width 50%
    height 304px
    border 10px solid #ebebeb
    background-color #ffffff
    +to-width(767px)
      width 100%

    .slick-dots
      display flex
      justify-content center
      position: absolute;
      right 0
      left 0
      bottom -35px
      li
        background-color #e1e1e1
        width 10px
        height 10px
        border-radius 50%
        margin 0 8px
        t()
        button
          opacity 0

        &:hover
          background-color #e02222

        &.slick-active
          background-color #e02222

.slider-item
  height 284px
  background-color #ffffff
  background-repeat no-repeat
  background-position bottom center
