.submenu
  position absolute
  top 0
  left 0
  right 0
  background-color white
  padding 0
  z-index 9
  transition 0.5s all
  transform translateY(-150%)
  &.open
    transform translateY(0)

  &.fixed
    position fixed
    .submenu-scroll
      padding-top 74px

  &-scroll
    padding-top 134px
    max-height 100vh
    padding-bottom 30px
    overflow-y scroll
    +to-width(1100px)
      padding-top 55px

  .wrap
    display flex
    flex-wrap wrap

  &-title
    font-size 20px
    font-weight 900
    letter-spacing 0.5px
    line-height 22px
    text-transform uppercase
    color black
    t()
    &:hover
      color #eeb621

  &-col
    width 33.333%
    padding 0 30px
    +to-width(1100px)
      padding 0 10px
    +to-width(800px)
      width 50%
    +to-width(480px)
      width 100%
      padding 0

  &-item
    padding-left 64px
    position relative
    margin-top 50px
    +to-width(1024px)
      padding-left 0
    +to-width(480px)
      margin-top 20px


    ul
      margin-top 16px
      font-size 17px
      font-weight 600
      line-height 32px
      li
        a
          color black
          t()
          &:hover
            color #eeb621

    img
      position absolute
      top 0
      left 0
      +to-width(1024px)
        display none
