.welcome
  height 100vh
  min-height 610px
  padding 20px 0
  background-image url('../images/welcome-bg.jpg')
  background-position center
  background-size cover
  +to-width(1150px)
    background-position -300px center
  +to-width(700px)
    min-height 640px
  +to-width(500px)
    background-position -165px center
    min-height initial
    height initial


  .wrap
    height 100%
    display flex
    flex-direction column
    justify-content center

  &-title
    color #ffffff
    font-weight 900
    font-size 56px
    text-transform uppercase
    line-height 63px
    span
      color #eeb621
      &:last-child
        font-weight 300
        color white
    +to-width(700px)
      font-size 40px
      line-height 53px
    +to-width(500px)
      font-size 25px
      line-height 35px

  &-options
    display flex
    margin-top 35px
    +to-width(500px)
      margin-top 20px

  &-list
    color #ffffff
    font-size 18px
    font-weight 400
    line-height 24px
    margin-right 40px
    +to-width(500px)
      font-size 14px
      line-height 20px
      margin-right 25px
    &:last-child
      margin-right 0
    &__item
      margin-bottom 4px
      position relative
      padding-left 20px
      &:after
        content ''
        position absolute
        left 0
        top 6px
        background-image url('../images/list-shape.svg')
        height 9px
        width 9px
        transform rotate(45deg)

  &-map
    display flex
    align-items center
    margin-top 50px
    +to-width(500px)
      margin-top 25px

    &:hover
      p
        &:after
          background-color transparent

    &__icon
      background-color #eeb621
      height 50px
      width 50px
      display flex
      align-items center
      justify-content center
      margin-right 13px

    p
      color #ffffff
      font-size 26px
      font-weight 500
      text-transform uppercase
      position relative
      +to-width(500px)
        font-size 20px
      &:after
        content ''
        position absolute
        left 0
        right 0
        bottom -5px
        background-color white
        height 2px
        t()

  &-button
    margin-top 50px
    width 100%
    max-width 313px
    height 69px
    min-height 69px
    background-color #eeb621
    position relative
    overflow hidden
    display flex
    align-items center
    justify-content space-between
    padding-left 46px
    padding-right 30px
    color #000000
    font-size 15px
    font-weight 700
    letter-spacing 0.83px
    text-transform uppercase
    transition 0.7s all
    +to-width(500px)
      height 54px
      min-height 54px
      max-width 290px
      padding-right 20px
      margin-top 30px
    &:after
      content ''
      position absolute
      right -50px
      top -100px
      bottom -100px
      right -100px
      left 232px
      background-color black
      transform rotate(15deg)
      transition 0.7s all

    &:hover
      color #eeb621
      &:after
        left -10px

    p
      position relative
      z-index 2

    img
      position relative
      z-index 2
