Akrobat = 'Akrobat'



@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat/Akrobat-Light.eot');
	src: url('../fonts/Akrobat/Akrobat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat/Akrobat-Light.woff2') format('woff2'),
		url('../fonts/Akrobat/Akrobat-Light.woff') format('woff'),
		url('../fonts/Akrobat/Akrobat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat/Akrobat-Regular.eot');
	src: url('../fonts/Akrobat/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat/Akrobat-Regular.woff2') format('woff2'),
		url('../fonts/Akrobat/Akrobat-Regular.woff') format('woff'),
		url('../fonts/Akrobat/Akrobat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat/Akrobat-SemiBold.eot');
	src: url('../fonts/Akrobat/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat/Akrobat-SemiBold.woff2') format('woff2'),
		url('../fonts/Akrobat/Akrobat-SemiBold.woff') format('woff'),
		url('../fonts/Akrobat/Akrobat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat/Akrobat-Bold.eot');
	src: url('../fonts/Akrobat/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat/Akrobat-Bold.woff2') format('woff2'),
		url('../fonts/Akrobat/Akrobat-Bold.woff') format('woff'),
		url('../fonts/Akrobat/Akrobat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat/Akrobat-Black.eot');
	src: url('../fonts/Akrobat/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Akrobat/Akrobat-Black.woff2') format('woff2'),
		url('../fonts/Akrobat/Akrobat-Black.woff') format('woff'),
		url('../fonts/Akrobat/Akrobat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
