section.about
  .wrap
    h2.about-title А мы монтажники-высотники..
  .about-body
    .about-item
      .wrap
        .about-content
          h3.about-item__title №1 в адаптивном строительном альпинизме
          p Мы делаем все высотные работы, где нужны услуги промышленых альпинистов: от мойки окон и необычной доставки подарка в окно до капитального ремонта фасада.
          ul
            li В штате 4 сертифицированных альпиниста
            li Вызжаем на объекты полностью со своим оборудованием
            li Нужно срочно? Готовы выехать на объект в день обращения
        .about-item__image(style="background-image:url('assets/images/about/image-1.jpg');")
    .about-item
      .wrap
        .about-content
          h3.about-item__title Делаем больше, чем обещаем
          p Мы всегда помагаем клиентам со всеми трудностями, которые возникают в процессе работы. Если вы обратились к нам, то мы поможем:
          ul
            li С замерами: измерим предварительно площадь и размеры объекта
            li В составлении сметы, технического задания, оформлении актов и договоров
            li Подобрать и доставить качественные материалы, в которых знаем толк!
          p А если где-то в процессе работ мы увидим, что нужно где-то подкрасить небольшой участок стены,  сделаем это бесплатно, потому что мы такие
        .about-item__image(style="background-image:url('assets/images/about/image-2.jpg');")
    .about-item
      .wrap
        .about-content
          h3.about-item__title Работаем в даже в суровых условиях
          p Волков боятся — в лес не ходить! А если ты альпинист, то умей подстраиваться под ситуации и работать в разных, даже суровых, условиях. Что мы и делаем:
          ul
            li Работаем в холод, дождь и жару
            li Работаем ночью, если нужно завершить проект срочно
            li Работаем в местах, где нет электричества (выезжаем со своими источниками энергии)
        .about-item__image(style="background-image:url('assets/images/about/image-3.jpg');")
    .about-item
      .wrap
        .about-content
          h3.about-item__title Суровые условия оставляем для себя, а для вас — только приятные:
          ul
            li Скидки постоянным клиентам
            li Возможность рассрочки оплаты за услуги
            li Стоимость работ фиксируется в договоре и не меняется на протяжении выполнения работ
            li Пока мы работаем, вы занимаетесь своими делами. С вас только задача и приём выполненной работы
        .about-item__image(style="background-image:url('assets/images/about/image-4.jpg');")
