section.article
  .wrap
    .article-content
      h1.section-title Жизнь компании
      h2 Альп-Лайн — организатор и участник полу-марафона в Ростове
      p.article-date 8 декабря 2018
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium 
      img(src="assets/images/content-1.jpg")
      h3 Как все начиналось
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium 
      ul
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
      blockquote
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        cite Виталий, директор Альп-Лайн
      
      h3 Самое интересное
      p Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium 
      p Aenean velit odio, elementum in tempus ut, vehicula eu diam.
      
      img(src="assets/images/content-2.jpg")
      img(src="assets/images/content-3.jpg")
      p Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium 
      p Aenean velit odio, elementum in tempus ut, vehicula eu diam.
      
      .contacts-share
        p Поделись с друзьями или сохрани у себя в ленте
        .contacts-share__social
          a(href="#")
            img(src="assets/images/contacts/icon_vk.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_gl.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_fb.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_tw.svg")
      
      form.article-notif
        p.article-notif__title Получай уведоления о новых публикациях на электронную почту
        input(type="email" placeholder="Email" required)
        input(type="submit" value="submit")
        .simple-button
          p Получать уведомления
          .simple-button__arrow
            img(src="assets/images/icon_arrow.svg")
