section.works.category_works
  .wrap
    .works-body
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-1.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_driller.svg")
              p Монтажные работы
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-2.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_trowel.svg")
              p Капремонт фасадов
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-3.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_hose.svg")
              p Беспылевой дробеструй
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-4.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_window.svg")
              p Клининг
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-5.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_firewall.svg")
              p Антикоррозийная и огнезащита
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-6.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_roof.svg")
              p Кровельные работы
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
    
    article.category-article
      .category-article__image(style="background-image:url('assets/images/cat-article.jpg');")
      .category-article__wrap
        .category-article__content
          h3.category-article__title Фасадные работы в Ростове-на-Дону
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet.
          p Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
          p Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
          p Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
          p Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
