section.clients
  .wrap
    .clients-body
      p.section-text Они знают, кто придет на помощь и выходной и в праздник и даже ночью 
      h2.section-title Наши постоянные клиенты
    
      .clients-list
        .clients-list__item
          img(src="assets/images/clients/image-1.png")
        .clients-list__item
          img(src="assets/images/clients/image-2.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-3.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-4.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-5.png")
        .clients-list__item
          img(src="assets/images/clients/image-6.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-7.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-8.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-9.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-10.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-11.jpg")
        .clients-list__item
          img(src="assets/images/clients/image-12.jpg")
