section.features
  .wrap
    .features-body
      .features-container
        p.section-text Почему наши услуги всегда на высоте?
        h2.section-title Потому что мы не только <span>делаем свою работу в срок с соблюдением всех правил безопасности,</span> а еще и помогаем вам:
        .features-options
          .features-options__item
            img(src="assets/images/features_trowel.svg")
            p Подобрать качественные материалы, в которых мы знаем толк!
          .features-options__item
            img(src="assets/images/features_compass.svg")
            p С замерами: измерим предварительно площадь и размеры объекта
          .features-options__item
            img(src="assets/images/features_calculations.svg")
            p Составить сметы и технические задания, с оформлением договоров и актов
          .features-options__item
            img(src="assets/images/features_planning.svg")
            p Определить вид работ,  без лишних "а вот тут бы то и там бы сё". У нас все Четко. Конкретно. По факту
        
        a(href="#").simple-button
          p Узнать больше
          .simple-button__arrow
            img(src="assets/images/icon_arrow.svg")
