footer.footer
  .wrap
    .footer-main
      .footer-logo
        a(href="/").footer-logo__main
          img(src="assets/images/logo-footer.svg")
        p.footer-logo__text Промышленный </br>альпинизм
      .footer-item
        p.footer-item__title Меню
        ul.footer-list
          li.footer-list__item
            a(href="#") О компании
          li.footer-list__item
            a(href="#") Отзывы
          li.footer-list__item
            a(href="#") Вакансии
          li.footer-list__item
            a(href="#") Жизнь компании
          li.footer-list__item
            a(href="#") Объекты
          li.footer-list__item
            a(href="#") Контакты
      .footer-item
        p.footer-item__title Услуги
        ul.footer-list
          li.footer-list__item
            a(href="#") Монтажные работы
          li.footer-list__item
            a(href="#") Антикоррозийная и огнезащита
          li.footer-list__item
            a(href="#") Капитальный ремонт фасадов
          li.footer-list__item
            a(href="#") Кровельные работы
          li.footer-list__item
            a(href="#") Клининг
          li.footer-list__item
            a(href="#") Прочие
          li.footer-list__item
            a(href="#") Дробеструй
    
    .footer-social
      p.footer-social__title Присоединяйтесь к нам в социальных сетях:
      .footer-social-list
        a(href="#").footer-social__item
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="17" viewBox="0 0 8 17")
            defs
              path(id="kn7ua" d="M760.033 5857.924h1.922v-2.913l-2.647-.011c-2.94 0-3.608 2.175-3.608 3.563v1.942H754v3h1.7V5872h3.574v-8.494h2.413l.313-3h-2.726v-1.764c0-.663.446-.818.759-.818")
            g
              g(transform="translate(-754 -5855)")
                use(xlink:href="#kn7ua")
        a(href="#").footer-social__item
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18")
            defs
              path(id="3wzza" d="M803.737 5855.263c.384.384.622.75.821 1.262.15.387.33.969.378 2.039.053 1.158.064 1.505.064 4.436s-.011 3.278-.064 4.436c-.049 1.07-.228 1.652-.378 2.039-.2.512-.437.878-.821 1.262a3.4 3.4 0 0 1-1.262.821c-.387.15-.969.33-2.039.378-1.157.053-1.505.064-4.436.064s-3.279-.011-4.436-.064c-1.07-.049-1.652-.228-2.039-.378a3.4 3.4 0 0 1-1.262-.821 3.402 3.402 0 0 1-.821-1.262c-.15-.387-.33-.969-.378-2.039-.053-1.158-.064-1.505-.064-4.436s.011-3.278.064-4.436c.049-1.07.228-1.652.378-2.039.2-.512.437-.878.821-1.262a3.4 3.4 0 0 1 1.262-.821c.387-.15.969-.33 2.039-.378 1.158-.053 1.505-.064 4.436-.064s3.278.011 4.436.064c1.07.049 1.652.228 2.039.378a3.4 3.4 0 0 1 1.262.821m-7.745 12.595c2.71 0 4.907-2.19 4.907-4.89 0-2.702-2.197-4.892-4.907-4.892s-4.907 2.19-4.907 4.891c0 2.702 2.197 4.891 4.907 4.891m5.091-8.832c.633 0 1.146-.512 1.146-1.143 0-.632-.513-1.144-1.146-1.144a1.144 1.144 0 0 0 0 2.286m-5.091.767a3.181 3.181 0 0 1 3.187 3.175 3.181 3.181 0 0 1-3.187 3.175 3.181 3.181 0 0 1-3.187-3.175 3.181 3.181 0 0 1 3.187-3.175")
            g
              g(transform="translate(-787 -5854)")
                use(xlink:href="#3wzza")
        a(href="#").footer-social__item
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="12" viewBox="0 0 22 12")
            defs
              path(id="e85pa" d="M840.764 5868.95h1.315s.397-.042.6-.25c.187-.193.18-.553.18-.553s-.025-1.687.794-1.936c.807-.245 1.844 1.63 2.942 2.352.832.545 1.463.426 1.463.426l2.938-.04s1.537-.09.808-1.245c-.06-.094-.425-.855-2.184-2.417-1.843-1.635-1.596-1.37.623-4.198 1.351-1.722 1.892-2.774 1.722-3.224-.16-.43-1.154-.316-1.154-.316l-3.308.02s-.246-.032-.427.072c-.178.102-.292.34-.292.34s-.524 1.332-1.222 2.465c-1.473 2.392-2.062 2.518-2.303 2.37-.56-.347-.42-1.39-.42-2.132 0-2.318.368-3.285-.716-3.535-.36-.082-.624-.137-1.544-.146-1.18-.012-2.179.003-2.744.268-.377.176-.668.569-.49.591.218.028.713.128.976.47.339.44.327 1.43.327 1.43s.195 2.729-.455 3.068c-.446.232-1.057-.242-2.371-2.412-.673-1.111-1.18-2.34-1.18-2.34s-.099-.23-.273-.353c-.212-.148-.508-.196-.508-.196l-3.144.02s-.472.013-.645.21c-.154.174-.012.535-.012.535s2.46 5.505 5.247 8.279c2.556 2.544 5.457 2.377 5.457 2.377")
            g
              g(transform="translate(-830 -5857)")
                use(xlink:href="#e85pa")
        a(href="#").footer-social__item
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="18" viewBox="0 0 12 18")
            defs
              path(id="rnjba" d="M885.272 5857.962c.373 1.31-.61 2.404-1.667 2.668-3 .751-4.285-3.445-1.205-4.247a2.343 2.343 0 0 1 2.872 1.579zm1.05 5.62c-1.965 1.082-4.573 1.103-6.562.048-.378-.202-.82-.578-1.311-.624-1.366-.126-3.065 1.976 1.703 3.395.432.128 1.342.244 1.638.39l-3.27 2.99c-1.231 1.105-.222 2.384.989 2.202.916-.138 2.587-2.384 3.533-2.824.421.47 2.743 2.756 3.482 2.833 1.165.12 2.131-1.075.996-2.125-.683-.632-3.084-2.684-3.31-3.097 1.31-.37 1.387-.15 3.06-.93 3.048-1.427 1.316-2.794.459-2.838-.637-.031-.987.35-1.408.58zm1.353-6.036c-.517-2.096-2.888-4.147-5.79-3.383-6.333 1.67-3.772 9.96 2.163 8.71 2.236-.47 4.286-2.639 3.627-5.327z")
            g
              g(transform="translate(-877 -5854)")
                use(xlink:href="#rnjba")
        a(href="#").footer-social__item
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="16" viewBox="0 0 20 16")
            defs
              path(id="eka2a" d="M921.79 5855.007c1.923-.092 3.73.767 5.203 1.974a28.28 28.28 0 0 1-1.975 2.101c-1.77-1.257-4.288-1.615-6.058-.164-2.533 1.799-2.648 6.046-.212 7.983 2.369 2.207 6.847 1.11 7.501-2.27-1.484-.023-2.971 0-4.455-.049-.004-.91-.008-1.818-.004-2.727 2.25-.007 4.501-.011 6.755.003v-1.137c.604-.006 1.207-.01 1.812-.013.004-.635.01-1.266.016-1.898h1.803c.003.632.006 1.266.012 1.898.603.007 1.21.007 1.812.013v1.888c-.603.007-1.206.01-1.812.017-.006.634-.01 1.266-.012 1.898h-1.806c-.006-.632-.006-1.264-.013-1.895l-1.087-.012c.037 1.91-.31 3.868-1.44 5.43-1.937 2.8-5.828 3.617-8.863 2.417-3.046-1.191-5.203-4.496-4.946-7.864.067-4.122 3.756-7.731 7.769-7.593z")
            g
              g(transform="translate(-914 -5855)")
                use(xlink:href="#eka2a")
    
    .footer-bottom
      .footer-bottom-list
        .footer-bottom__item © Все права защищены
        a(href="#").footer-bottom__item  Политика конфиденциальности
        a(href="#").footer-bottom__item Информация для клиента
        a(href="#").footer-bottom__item Карта сайта
      a(href="https://business-up.org/").made-by
        img(src="assets/images/made-by.svg")
        .made-by__wrap
          p Разработка и продвижение
          p Bussiness-up.org
