section.gratitudes
  .wrap
    .section-header
      h2.section-title Видео отзывы
      .gratitudes-switch
        a(href="#").gratitudes-switch__item Благодарственные письма
        a(href="#").gratitudes-switch__item.active Видео
    
    .gratitudes-body
      article.gratitudes-article
        h3.gratitudes-article__title Алексей, директор компании Роза
        .gratitudes-article__image(style="background-image: url('assets/images/gratitudes/image-1.jpg');")
          .gratitudes-play
            img(src="assets/images/icon_play.svg")
        .gratitudes-article__wrap
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
      article.gratitudes-article
        h3.gratitudes-article__title Алексей, директор компании Роза
        .gratitudes-article__image(style="background-image: url('assets/images/gratitudes/image-1.jpg');")
          .gratitudes-play
            img(src="assets/images/icon_play.svg")
        .gratitudes-article__wrap
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
      article.gratitudes-article
        h3.gratitudes-article__title Алексей, директор компании Роза
        .gratitudes-article__image(style="background-image: url('assets/images/gratitudes/image-1.jpg');")
          .gratitudes-play
            img(src="assets/images/icon_play.svg")
        .gratitudes-article__wrap
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
      article.gratitudes-article
        h3.gratitudes-article__title Алексей, директор компании Роза
        .gratitudes-article__image(style="background-image: url('assets/images/gratitudes/image-1.jpg');")
          .gratitudes-play
            img(src="assets/images/icon_play.svg")
        .gratitudes-article__wrap
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
      article.gratitudes-article
        h3.gratitudes-article__title Алексей, директор компании Роза
        .gratitudes-article__image(style="background-image: url('assets/images/gratitudes/image-1.jpg');")
          .gratitudes-play
            img(src="assets/images/icon_play.svg")
        .gratitudes-article__wrap
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
          p.gratitudes-article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
        .article__button
          p Показать полностью
          img(src="assets/images/icon_arrow-down.svg")
    
    .button-more
      p Показать еще
      img(src="assets/images/icon_infinite.svg")
    
    .pagination
      a(href="#").pagination__arrow.disabled
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
          defs
            path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
          g
            g(transform="translate(-633 -673)")
              use(fill="#eeb621" xlink:href="#uc4va")
      .pagination-items
        a(href="#").active 1
        a(href="#") 2
        a(href="#") 3
      a(href="#").pagination__arrow
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
          defs
            path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
          g
            g(transform="translate(-633 -673)")
              use(fill="#eeb621" xlink:href="#uc4va")
