head

	meta(charset='utf-8')

	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	//meta(http-equiv='X-UA-Compatible' content='IE=edge')
	//meta(name='imagetoolbar' content='no')
	//meta(name='msthemecompatible' content='no')
	//meta(name='cleartype' content='on')
	//meta(name='HandheldFriendly' content='True')
	//meta(name='format-detection' content='telephone=no')
	//meta(name='format-detection' content='address=no')
	//meta(name='apple-mobile-web-app-capable' content='yes')
	//meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	block head
	// Favicon
	link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicons/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="assets/images/favicons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicons/favicon-16x16.png")
	link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicons/android-chrome-192x192.png")
	link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicons/android-chrome-512x512.png")
	//- link(rel="manifest", href="assets/images/favicons/site.webmanifest")
	link(rel="mask-icon", href="assets/images/favicons/safari-pinned-tab.svg", color="#34ee00")
	link(rel='icon', type='image/png', href='../assets/images/favicons/favicon-32x32.png', sizes='32x32')
	link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicons/favicon.ico")
	meta(name="msapplication-TileColor", content="#7424f4")
	meta(name="theme-color", content="#7424f4")

	//share social

	meta(property="og:type" content="website")
	meta(property="og:site_name" content="Название сайта")
	meta(property="og:title" content="Заголовок")
	meta(property="og:description" content="Описание.")
	meta(property="og:url" content="../assets/images/WheelMe.png")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:image" content="../assets/images/WheelMe.png")
	meta(property="og:image:width" content="1280")
	meta(property="og:image:height" content="628")

	title Alpline
	//meta(name='description' content='')
	//meta(name='copyright' content='')

	// Common CSS
	link(href='assets/styles/common.css' rel='stylesheet')
