header.header
  .header-top
    .wrap
      nav.nav-top
        ul.nav-top-list
          li.nav-top__item
            a(href="#") О компании
          li.nav-top__item
            a(href="#") Обьекты
          li.nav-top__item
            a(href="#") Отзывы
          li.nav-top__item
            a(href="#") Жизнь компании
          li.nav-top__item
            a(href="#") Контакты
      
      .header-right
        p.header-top__text Звоните бесплатно с 08:00 до 20:00 ежедневно:
        a(href="tel: +78005115180").header-phone
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 14 14")
            defs
              path(id="n4m9a" d="M1340.993 29.049a.677.677 0 0 1-.207.593l-1.971 1.957a1.11 1.11 0 0 1-.349.253c-.143.069-.284.113-.422.133l-.089.008c-.05.004-.113.007-.193.007-.187 0-.491-.032-.911-.096-.42-.065-.934-.223-1.541-.475-.608-.252-1.297-.63-2.068-1.135-.77-.504-1.59-1.196-2.46-2.076a16.248 16.248 0 0 1-1.72-1.957 13.948 13.948 0 0 1-1.096-1.728 9.31 9.31 0 0 1-.623-1.439c-.138-.43-.232-.8-.281-1.112a3.676 3.676 0 0 1-.06-.734c.01-.178.015-.277.015-.297.02-.138.065-.279.134-.422.069-.144.153-.26.252-.349l1.97-1.972a.653.653 0 0 1 .475-.208c.129 0 .242.037.341.111.099.074.183.166.252.275l1.586 3.01a.722.722 0 0 1 .074.52.925.925 0 0 1-.252.474l-.726.727a.247.247 0 0 0-.052.096.366.366 0 0 0-.022.111c.04.208.128.445.266.712.119.237.302.526.549.868.247.34.597.734 1.052 1.179.445.454.84.808 1.186 1.06.345.252.634.437.867.556.232.119.41.19.533.215l.185.037c.02 0 .052-.007.097-.022a.247.247 0 0 0 .096-.052l.845-.86a.908.908 0 0 1 .622-.237c.168 0 .302.03.4.089h.015l2.86 1.69c.208.129.332.292.371.49z")
            g
              g(transform="translate(-1327 -18)")
                use(fill="#fff" xlink:href="#n4m9a")
          p 8 800 511-51-80
        .header-search
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16")
            defs
              path(id="mvkta" d="M1535.565 27.856a4.29 4.29 0 1 1 0-8.582 4.29 4.29 0 0 1 0 8.582zm9 2.824l-3.466-3.466c-.018-.019-.04-.032-.059-.049a6.56 6.56 0 1 0-1.875 1.875c.017.02.03.04.048.06l3.467 3.466a1.334 1.334 0 0 0 1.886-1.886z")
            g
              g(transform="translate(-1529 -17)")
                use(fill="#fff" xlink:href="#mvkta")
    
  .header-main
    .wrap
      a(href="/").header-logo
        img(src="assets/images/logo.svg")
      
      nav.nav
        ul.nav-list
          li.nav-list__item.subtrigger
            a(href="#") Наши услуги
          li.nav-list__item
            a(href="#") Монтажные работы
          li.nav-list__item
            a(href="#") Капремонт фасадов
          li.nav-list__item
            a(href="#") Пескоструй
          li.nav-list__item
            a(href="#") Клининг
      
      .header-main__button.popopen
        p Работать с нами
  
  .header-main.header_duble
    .wrap
      .header-left
        .header-gamburger
          .header-gamburger__item
          .header-gamburger__item
          .header-gamburger__item
        
        nav.nav-top
          ul.nav-top-list
            li.nav-top__item
              a(href="#") О компании
            li.nav-top__item
              a(href="#") Обьекты
            li.nav-top__item
              a(href="#") Отзывы
            li.nav-top__item
              a(href="#") Жизнь компании
            li.nav-top__item
              a(href="#") Контакты
          .nav-top__socials
            a(href="#")
              img(src="assets/images/socials/icon_fb.svg")
            a(href="#")
              img(src="assets/images/socials/icon_in.svg")
            a(href="#")
              img(src="assets/images/socials/icon_vk.svg")
            a(href="#")
              img(src="assets/images/socials/icon_od.svg")
            a(href="#")
              img(src="assets/images/socials/icon_gl.svg")
            
        a(href="/").header-logo
          img(src="assets/images/logo.svg")
        
        nav.nav
          ul.nav-list
            li.nav-list__item.subtrigger
              a(href="#") Наши услуги
      .header-right
        p.header-top__text Звоните бесплатно с 08:00 до 20:00 ежедневно:
        a(href="tel: +78005115180").header-phone
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 14 14")
            defs
              path(id="n4m9a" d="M1340.993 29.049a.677.677 0 0 1-.207.593l-1.971 1.957a1.11 1.11 0 0 1-.349.253c-.143.069-.284.113-.422.133l-.089.008c-.05.004-.113.007-.193.007-.187 0-.491-.032-.911-.096-.42-.065-.934-.223-1.541-.475-.608-.252-1.297-.63-2.068-1.135-.77-.504-1.59-1.196-2.46-2.076a16.248 16.248 0 0 1-1.72-1.957 13.948 13.948 0 0 1-1.096-1.728 9.31 9.31 0 0 1-.623-1.439c-.138-.43-.232-.8-.281-1.112a3.676 3.676 0 0 1-.06-.734c.01-.178.015-.277.015-.297.02-.138.065-.279.134-.422.069-.144.153-.26.252-.349l1.97-1.972a.653.653 0 0 1 .475-.208c.129 0 .242.037.341.111.099.074.183.166.252.275l1.586 3.01a.722.722 0 0 1 .074.52.925.925 0 0 1-.252.474l-.726.727a.247.247 0 0 0-.052.096.366.366 0 0 0-.022.111c.04.208.128.445.266.712.119.237.302.526.549.868.247.34.597.734 1.052 1.179.445.454.84.808 1.186 1.06.345.252.634.437.867.556.232.119.41.19.533.215l.185.037c.02 0 .052-.007.097-.022a.247.247 0 0 0 .096-.052l.845-.86a.908.908 0 0 1 .622-.237c.168 0 .302.03.4.089h.015l2.86 1.69c.208.129.332.292.371.49z")
            g
              g(transform="translate(-1327 -18)")
                use(fill="#fff" xlink:href="#n4m9a")
          p 8 800 511-51-80
        .header-search
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16")
            defs
              path(id="mvkta" d="M1535.565 27.856a4.29 4.29 0 1 1 0-8.582 4.29 4.29 0 0 1 0 8.582zm9 2.824l-3.466-3.466c-.018-.019-.04-.032-.059-.049a6.56 6.56 0 1 0-1.875 1.875c.017.02.03.04.048.06l3.467 3.466a1.334 1.334 0 0 0 1.886-1.886z")
            g
              g(transform="translate(-1529 -17)")
                use(fill="#fff" xlink:href="#mvkta")
      
        .header-main__button.popopen
          p Работать с нами

    
    
    
