section.join(style="background-image: url('assets/images/about/join-bg.jpg');")
  .wrap
    h2.join__title Присоединяйтесь к команде Альп-Лайн
    p.join__text В связи с раширением компании, мы в поиске специалистов, которые будут работать с нами плечем к плечу. <br>Смотрите открытые вакансии. Возможно, мы ищем именно вас!
    a(href="#").simple-button
      p смотреть вакансии
      .simple-button__arrow
        img(src="assets/images/icon_arrow.svg")
