section.life
  .wrap
    h2.section-title Работа работой, но активную жизнь никто не отменял
    p.life-text Компания Альп-Лайн участвует в городских спортивных соревнованиях, выступает организатором мероприятий и просто активно и весело проводит время вне работы. А отчеты с мероприятий смотрите здесь
    
    .life-body
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-1.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-2.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-3.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-4.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-5.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
      article.life-article
        .life-article__image(style="background-image:url('assets/images/life/image-6.jpg');")
        .life-article__content
          h3 Альп-Лайн — организатор и участник полу-марафона в Ростове
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus 
          a(href="#").life-button
            .pagination__arrow
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
                defs
                  path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
                g
                  g(transform="translate(-633 -673)")
                    use(fill="#eeb621" xlink:href="#uc4va")
            p подробнее
            
    .button-more
      p Показать еще
      img(src="assets/images/icon_infinite.svg")
    
    .pagination
      a(href="#").pagination__arrow.disabled
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
          defs
            path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
          g
            g(transform="translate(-633 -673)")
              use(fill="#eeb621" xlink:href="#uc4va")
      .pagination-items
        a(href="#").active 1
        a(href="#") 2
        a(href="#") 3
      a(href="#").pagination__arrow
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
          defs
            path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
          g
            g(transform="translate(-633 -673)")
              use(fill="#eeb621" xlink:href="#uc4va")
