section.deal.object-slider
  .wrap
    .section-header
      h2.section-title выполненные для них объекты
      .slider-custom
        .slider-counter
          p.slider-counter__change 1
          p.slider-counter__all 28
        .slider-arrows
          .slider-arrows__item.prev-arrow
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
              defs
                path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
              g
                g(transform="translate(-633 -673)")
                  use(fill="#eeb621" xlink:href="#uc4va")
          .slider-arrows__item.next-arrow
            svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
              defs
                path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
              g
                g(transform="translate(-633 -673)")
                  use(fill="#eeb621" xlink:href="#uc4va")
    .slider#deal-slider
      .slider-item
        a(href="#").slider-item__container(style="background-image: url('assets/images/deal/image-1.jpg');")
          .slider-content
            p.slider-title Капитальный ремонт фасада здания
            .slider-info
              .slider-info__wrap
                p Клиент: Ростелеком
                p Город: Ростов-на-Дону
              .slider-next
                img(src="assets/images/icon_arrow-black.svg")
      .slider-item
        a(href="#").slider-item__container(style="background-image: url('assets/images/deal/image-1.jpg');")
          .slider-content
            p.slider-title Капитальный ремонт фасада здания
            .slider-info
              .slider-info__wrap
                p Клиент: Ростелеком
                p Город: Ростов-на-Дону
              .slider-next
                img(src="assets/images/icon_arrow-black.svg")
      .slider-item
        a(href="#").slider-item__container(style="background-image: url('assets/images/deal/image-1.jpg');")
          .slider-content
            p.slider-title Капитальный ремонт фасада здания
            .slider-info
              .slider-info__wrap
                p Клиент: Ростелеком
                p Город: Ростов-на-Дону
              .slider-next
                img(src="assets/images/icon_arrow-black.svg")
      .slider-item
        a(href="#").slider-item__container(style="background-image: url('assets/images/deal/image-1.jpg');")
          .slider-content
            p.slider-title Капитальный ремонт фасада здания
            .slider-info
              .slider-info__wrap
                p Клиент: Ростелеком
                p Город: Ростов-на-Дону
              .slider-next
                img(src="assets/images/icon_arrow-black.svg")
