section.object
  .wrap
    h1.section-title Капитальный ремонт фасада здания
    .object-body
      
      .object-wrap
        .object-item
          h2 Задача
          p Сделать капитальный ремонт фасада офисного здания зимой. На объекте были перебои с электричесвом, но срок был горящий: 7 дней
        .object-item
          h2 Клиент
          p Название компании <br>Город Ростов
      
      .object-item
        h2 Что мы сделали
        .object-item__wrap
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .object-item
        h2 Посмотрите рабочий процесс
        .object-gallery
          .object-gallery__item
            .object-gallery__image(style="background-image: url('assets/images/object/image-1.jpg');")
          .object-gallery__item
            .object-gallery__image(style="background-image: url('assets/images/object/image-12.jpg');")
          .object-gallery__item
            .object-gallery__image(style="background-image: url('assets/images/object/image-3.jpg');")
          .object-gallery__item
            .object-gallery__image(style="background-image: url('assets/images/object/image-4.jpg');")
      .object-item
        h2 Что получилось в итоге
        .object-photo
          img(src="assets/images/object/image-5.jpg")
      
      .socials
        .socials-button
          img(src="assets/images/icon_socials.svg")
        .socials-share
          a(href="#")
            img(src="assets/images/contacts/icon_vk.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_gl.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_fb.svg")
          a(href="#")
            img(src="assets/images/contacts/icon_tw.svg")
