section.object-feedback(style="background-image: url('assets/images/object/bg-feedback.jpg');")
  .wrap
    h2.object-feedback__title Что сказал клиент о выполненной работе
    .object-feedback__image
      img(src="assets/images/object/object-feedback.jpg")
