section.search
  .search-scroll
    .search-input
      .wrap
        input(type="search")
        .search-close
          img(src="assets/images/popup-close.svg")
    .search-result
      .wrap
        .search-nothing
          p По вашему запросу ничего не найдено :(
          p Измените свой запрос и попробуйте снова
        
        a(href="#").search-article
          .search-article__image(style="background-image: url('assets/images/object/image-1.jpg');")
          .search-article__content
            p.search-article__title Самое интересное об альпинизме
            p.search-article__text Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
        
        a(href="#").search-article
          .search-article__image(style="background-image: url('assets/images/object/image-1.jpg');")
          .search-article__content
            p.search-article__title Самое интересное об альпинизме
            p.search-article__text Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
