section.season
  .wrap
    p.section-text Зима - холода, мы работаем всегда!
    h2.section-title Сезонные услуги
    
    .season-body
      .season-item
        a(href="#").season-item__container
          .season-item__image(style="background-image: url('assets/images/season/image-1.jpg');")
          .season-button
            p Чистка кровли от снега
            .season-button__arrow
              img(src="assets/images/icon_arrow-black.svg")
      .season-item
        a(href="#").season-item__container
          .season-item__image(style="background-image: url('assets/images/season/image-2.jpg');")
          .season-button
            p Удаление наледи, сосулек
            .season-button__arrow
              img(src="assets/images/icon_arrow-black.svg")
