section.service-why(style="background-image: url('assets/images/service/service-bg.jpg');")
  .wrap
    h2.service-why__title Почему наши услуги всегда на высоте?
    .service-why__body
      .service-why-item
        .service-why-item__image
          img(src="assets/images/service/icon_glasses.svg")
        .service-why-item__content
          h3 Выезжаем на объект во всеоружии
          p У нас штатаная комнада сертифицированных альпинистов и специализированное оборудование. Что еще нужно? Опыт, который у нас тоже есть!
      .service-why-item
        .service-why-item__image
          img(src="assets/images/service/icon_snow.svg")
        .service-why-item__content
          h3 Работаем даже в суровых условиях
          p Работаем в жару и мороз и даже ночью! И нас не пугает места с отсутсвием эелектричества, у нас есть свой источник. Мы всегда заражены!
      .service-why-item
        .service-why-item__image
          img(src="assets/images/service/icon_list.svg")
        .service-why-item__content
          h3 Помогаем с документами
          p Составим сметы и технические задания, поможем с оформлением договоров и актов.
      .service-why-item
        .service-why-item__image
          img(src="assets/images/service/icon_find.svg")
        .service-why-item__content
          h3 Предоставляем удобные условия
          p Стоимость работ фиксируется в договоре и не меняется на протяжении выполнения работ. Вы также имеете возможность оформить рассрочку платежа.
