section.works.services
  .wrap
    h2.section-title Какие работы выполняем
    
    .works-body
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-1.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_driller.svg")
              p Монтажные работы
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-2.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_trowel.svg")
              p Капремонт фасадов
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-3.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_hose.svg")
              p Беспылевой дробеструй
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-4.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_window.svg")
              p Клининг
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-5.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_firewall.svg")
              p Антикоррозийная и огнезащита
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
      a(href="#").works-item
        .works-item__container
          .works-item__image(style="background-image: url('assets/images/works/image-6.jpg');")
          .works-button
            .works-button__left
              .works-button__icon
                img(src="assets/images/icon_roof.svg")
              p Кровельные работы
            .works-button__arrow
              img(src="assets/images/icon_arrow.svg")
