section.service
  .wrap
    h2.section-title Очистка фасада
    h2.about-title Надежность. Безопасность. Качество
    p.about-text Любое здание периодически нуждается в косметическом ремонте. Чтобы заново оштукатурить или окрасить его, необходимо снять со стены старый слой краски (штукатурки). «Alp Line» осуществляет полный спектр фасадных работ, среди которых постоянным спросом пользуется очистка фасада зданий от краски.
  .about-body
    .about-item
      .wrap
        .about-content
          h3.about-item__title Современные методы и технологии
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
          p Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. 
        .about-item__image(style="background-image:url('assets/images/about/image-1.jpg');")
    .about-item
      .wrap
        .about-content
          h3.about-item__title Как мы делаем очистку фасада
          p Мы всегда помагаем клиентам со всеми трудностями, которые возникают в процессе работы. Если вы обратились к нам, то мы поможем:
          ul
            li С замерами: измерим предварительно площадь и размеры объекта
            li В составлении сметы, технического задания, оформлении актов и договоров
        .about-item__image(style="background-image:url('assets/images/about/image-2.jpg');")
    .about-item
      .wrap
        .about-content
          h3.about-item__title Стоимость услуги
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
          p Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. 
        .about-item__image(style="background-image:url('assets/images/about/image-3.jpg');")
