section.shedule
  .wrap
    .shedule-content
      h3.shedule__title Конкурсы и призы
      .shedule-list
        .shedule-item
          h4.shedule-item__title <span>10:15</span> Творческий конкурс
          p.shedule-item__text Приз: мультиварка. 
            span 3 Победителя
        .shedule-item
          h4.shedule-item__title <span>10:15</span> Задача на расчет
          p.shedule-item__text Приз: мультиварка. 
            span 3 Победителя
        .shedule-item
          h4.shedule-item__title <span>10:15</span> Теоретический вопрос
          p.shedule-item__text Приз: мультиварка. 
            span 3 Победителя
        .shedule-item
          h4.shedule-item__title <span>10:15</span> Творческий конкурс
          p.shedule-item__text Приз: мультиварка. 
            span 3 Победителя
        .shedule-item
          h4.shedule-item__title <span>10:15</span> Задача на расчет
          p.shedule-item__text Приз: мультиварка. 
            span 3 Победителя
        
      .shedule-button
        p Загрузить больше
        img(src="assets/images/arrow.svg")
    
    .shedule-slider
      .slider-item(style="background-image: url('assets/images/slider-1.jpg')")
      .slider-item(style="background-image: url('assets/images/slider-1.jpg')")
      .slider-item(style="background-image: url('assets/images/slider-1.jpg')")
