section.submenu
  .submenu-scroll
    .wrap
      .submenu-col
        .submenu-item
          img(src="assets/images/icon_trowel.svg")
          a(href="#").submenu-title Капремонт фасадов
          ul
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Герметизация швов
            li
              a(href="#") Оштукатуривание фасада
            li
              a(href="#") Окраска фасада
            li
              a(href="#") Гидрофобизация фасада
            li
              a(href="#") Монтаж декоративных панелей
              
        .submenu-item
          img(src="assets/images/icon_driller.svg")
          a(href="#").submenu-title Монтажные работы
          ul
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
        
      .submenu-col
        .submenu-item
          img(src="assets/images/icon_hose.svg")
          a(href="#").submenu-title Беспылевой пескоструй
        
        .submenu-item
          img(src="assets/images/icon_window.svg")
          a(href="#").submenu-title Клининговые работы
          ul
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Герметизация швов
            li
              a(href="#") Оштукатуривание фасада
            li
              a(href="#") Окраска фасада
            li
              a(href="#") Гидрофобизация фасада
            li
              a(href="#") Монтаж декоративных панелей

        
        .submenu-item
          img(src="assets/images/icon_firewall.svg")
          a(href="#").submenu-title Антикоррозийная и огнезащита
            
      .submenu-col
        .submenu-item
          img(src="assets/images/icon_roof.svg")
          a(href="#").submenu-title Кровельные работы
        
        .submenu-item
          img(src="assets/images/icon_helmet.svg")
          a(href="#").submenu-title Прочие услуги
          ul
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
            li
              a(href="#") Очистка фасада
