section.vacancy-list
  .wrap
    h2.section-title Открытые вакансии
    .vacancy-body
      .vacancy-item
        .vacancy-item-header
          .vacancy-item-info
            p.vacancy-item__date 08 декабря 2018
            h4.vacancy-item__title Промышленный альпинист
          .vacancy-item-button
            p Узнать подробности
            .vacancy-item-button__icon
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10")
                g
                  g(transform="rotate(-360 -1487 -1875)")
                    path(fill="#eeb621" d="M12.487 0l1.385 1.385L6.79 8.467 5.372 9.885 0 4.513l1.418-1.418 3.987 3.987z")

              img(src="assets/images/vacancy/icon_close.svg")
              
        .vacancy-item-body
          h3 Описание
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque 
          h3 Обязанности
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Требования
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Условия и график
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          form.vacancy-form
            h3.vacancy-form__title Отправить заявку на вакансию
            .vacancy-form__input
              label Имя, фамилия*
              input(type="text" id="vacancy-input-name")
            .vacancy-form__input
              label Номер телефона*
              input(type="text" id="vacancy-input-phone" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__").input-phone
            .vacancy-form__input
              label Электронная почта*
              input(type="email" id="vacancy-input-email")
            .vacancy-form__file
              p Резюме
              .vacancy-form__file-wrap
                label(for="input-file-3") прикрепить
                input(name="myFile" type="file" id="input-file-3")
            
            .checkbox
              input(type="checkbox" id="service-checkbox-1")
              label(for="service-checkbox-1") Нажимая на нкнопку Отправить заявку, я даю согласие на обработку персоальных данных
            
            input(type="submit" value="submit")
            .simple-button
              p смотреть вакансии
              .simple-button__arrow
                img(src="assets/images/icon_arrow.svg")
      .vacancy-item.open
        .vacancy-item-header
          .vacancy-item-info
            p.vacancy-item__date 08 декабря 2018
            h4.vacancy-item__title Инженер
          .vacancy-item-button
            p Узнать подробности
            .vacancy-item-button__icon
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10")
                g
                  g(transform="rotate(-360 -1487 -1875)")
                    path(fill="#eeb621" d="M12.487 0l1.385 1.385L6.79 8.467 5.372 9.885 0 4.513l1.418-1.418 3.987 3.987z")

              img(src="assets/images/vacancy/icon_close.svg")
              
        .vacancy-item-body
          h3 Описание
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque 
          h3 Обязанности
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Требования
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Условия и график
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          form.vacancy-form
            h3.vacancy-form__title Отправить заявку на вакансию
            .vacancy-form__input
              label Имя, фамилия*
              input(type="text" id="vacancy-input-name")
            .vacancy-form__input
              label Номер телефона*
              input(type="text" id="vacancy-input-phone" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__").input-phone
            .vacancy-form__input
              label Электронная почта*
              input(type="email" id="vacancy-input-email")
            .vacancy-form__file
              p Резюме
              .vacancy-form__file-wrap
                label(for="input-file-2") прикрепить
                input(name="myFile" type="file" id="input-file-2" multiple)
                .file-info
                  p
                  img(src="assets/images/popup-close.svg")
            
            .checkbox
              input(type="checkbox" id="service-checkbox-2")
              label(for="service-checkbox-2") Нажимая на нкнопку Отправить заявку, я даю согласие на обработку персоальных данных
            
            input(type="submit" value="submit")
            .simple-button
              p смотреть вакансии
              .simple-button__arrow
                img(src="assets/images/icon_arrow.svg")
      .vacancy-item
        .vacancy-item-header
          .vacancy-item-info
            p.vacancy-item__date 08 декабря 2018
            h4.vacancy-item__title Главный бригады
          .vacancy-item-button
            p Узнать подробности
            .vacancy-item-button__icon
              svg(xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10")
                g
                  g(transform="rotate(-360 -1487 -1875)")
                    path(fill="#eeb621" d="M12.487 0l1.385 1.385L6.79 8.467 5.372 9.885 0 4.513l1.418-1.418 3.987 3.987z")

              img(src="assets/images/vacancy/icon_close.svg")
              
        .vacancy-item-body
          h3 Описание
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque 
          h3 Обязанности
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Требования
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          h3 Условия и график
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          form.vacancy-form
            h3.vacancy-form__title Отправить заявку на вакансию
            .vacancy-form__input
              label Имя, фамилия*
              input(type="text" id="vacancy-input-name")
            .vacancy-form__input
              label Номер телефона*
              input(type="text" id="vacancy-input-phone" data-inputmask="'mask': '+7 (999) 999-99-99'" placeholder="+7 (___) ___-__-__").input-phone
            .vacancy-form__input
              label Электронная почта*
              input(type="email" id="vacancy-input-email")
            .vacancy-form__file
              p Резюме
              .vacancy-form__file-wrap
                label(for="input-file-1") прикрепить
                input(name="myFile" type="file" id="input-file-1")
            
            .checkbox
              input(type="checkbox" id="service-checkbox-3")
              label(for="service-checkbox-3") Нажимая на нкнопку Отправить заявку, я даю согласие на обработку персоальных данных
            
            input(type="submit" value="submit")
            .simple-button
              p смотреть вакансии
              .simple-button__arrow
                img(src="assets/images/icon_arrow.svg")
                  
      .button-more
        p Показать еще
        img(src="assets/images/icon_infinite.svg")
      
      .pagination
        a(href="#").pagination__arrow.disabled
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
            defs
              path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
            g
              g(transform="translate(-633 -673)")
                use(fill="#eeb621" xlink:href="#uc4va")
        .pagination-items
          a(href="#").active 1
          a(href="#") 2
          a(href="#") 3
        a(href="#").pagination__arrow
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="11" viewBox="0 0 24 11")
            defs
              path(id="uc4va" d="M649.586 674.414L651 673l5.485 5.485-5.485 5.486-1.414-1.415 3.07-3.07H633v-2h19.657z")
            g
              g(transform="translate(-633 -673)")
                use(fill="#eeb621" xlink:href="#uc4va")
