section.welcome
  .wrap
    h1.welcome-title Все виды высотных работ <br>по <span>строительному <br>альпинизму</span><span> со своим оборудованием</span>
    .welcome-options
      ul.welcome-list
        li.welcome-list__item Капитальный ремонт фасадов
        li.welcome-list__item Беспылевой дробеструй
        li.welcome-list__item Монтажные работы
      ul.welcome-list
        li.welcome-list__item Клининг
        li.welcome-list__item Антикоррозийная и огнезащита
        li.welcome-list__item Кровельные работы
    
    a.welcome-map(href="/contacts.html")
      .welcome-map__icon
        img(src="assets/images/icon_point.svg")
      p В Ростове и области
    
    a(href="#").welcome-button
      p Узнать больше
      img(src="assets/images/icon_arrow.svg")
