section.wrong(style="background-image: url('assets/images/wrong.jpg')")
  .wrap
    h1.wrong-title 404 <br>
      span Страница не <br>найдена
    h2.wrong-subtitle Возвращайтесь на главную страницу <br>и начните путь по сайту с неё
    a(href="#").simple-button
      p Посмотреть все объекты
      .simple-button__arrow
        img(src="assets/images/icon_arrow.svg")
