// structure

flex()
	display flex
	flex-wrap wrap

// typography

font(f-size, l-size, f-color)
	font-size f-size
	line-height l-size
	color f-color

font-1em(f-size, f-color)
	font-size f-size
	line-height 1em
	color f-color

// position

cen-xy()
	margin auto
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)

cen-y()
	margin auto
	position absolute
	top 50%
	transform translate(0, -50%)

cen-x()
	margin auto
	position absolute
	left 50%
	transform translate( -50%, 0)

cen-b()
	margin-left auto
	margin-right auto

// style

u-dot()
	border-bottom 1px dotted
	transition 0.3s
	text-decoration none

	&:hover
		border-color transparent

// hacks

clearfix()

	&:after
		display table
		clear both
		content ''

fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// empty styles mixins

t()
	transition 0.3s

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

flexbox()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex

userselect()
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	-o-user-select none
	user-select none