$main = #f26522
$secondary = #b99359
$third = #eaeaea

// colors

$green = #48d162
$red = #db4931
$orange = #ff7700

$white = #fff
$black = #171717

// social colors

$facebook = #3b5998
$google = #db4437
$twitter = #1da1f2
$insta = #e44082
$youtube = #d42428
$skype = #00aaf1

//

$bg1 = #2a2c36

// .green
// 	color $green
// 	fill $green
//
// .red
// 	color $red
// 	fill $red
//
// .orange
// 	color $orange
// 	fill $red

// Columns

$col1 = 8.33333333%
$col2 = 16.66666667%
$col3 = 25%
$col4 = 33.33333333%
$col5 = 41.66666667%
$col6 = 50.00%
$col7 = 58.33333333%
$col8 = 66.66666667%
$col9 = 75.0%
$col10 = 83.33333333%
$col11 = 91.66666667%
$col12 = 100%
