extends ../layouts/default

block head

block content
	include ../blocks/header
	include ../blocks/search
	include ../blocks/submenu
	include ../blocks/popups
	main.main.general
		include ../blocks/forehead
		include ../blocks/breadcrumbs
		include ../blocks/gratitudes-video
	include ../blocks/footer

	+script('common.min')
	+script('jquery-inputmask')
	+script('main')
