extends ../layouts/default

block head

block content
	include ../blocks/header
	include ../blocks/popups
	main.main
		include ../blocks/breadcrumbs
		include ../blocks/article
		include ../blocks/life-section
	include ../blocks/footer

	+script('common.min')
	+script('jquery-inputmask')
	+script('main')
